.d-flex {
    display: flex;
}
.d-flex-col {
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap
}
.j-between{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.flex-auto{
    flex: 1 1 auto;
}
.a-stretch{
    align-items: stretch;
}

.flex-grow{
    flex-grow: 1;
}
